body {
  margin-top: 0px;
  margin-left: 0px;
  height: fit-content;
  width: 100%;
  display: flexbox;
  position: relative;
}

.header {
  display:flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 40px;
  margin: 0px;
  margin-top: -5px;
  margin-bottom: 0px;
  background-image: linear-gradient(white 50%, #d0d3d4);
}

.header h2 {
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #003366;
}

.header h2:hover {
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(29, 176, 233);
  text-decoration: underline;
}

.logo {
  margin: 10px;
  margin-left: 40px;
  height: 30px;
}

.table-header {
  display: flex;
  align-items: center ;
  text-align: justify;
  position: absolute;
  width: 100%;
  margin-left: 20px;
}

.button-header {
  display: flex;
  align-items: center;
  justify-items: end;
  gap: 25px;
  width: 100%;
  position: absolute;
  left: 79vw;
}

table {
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px); /* Auto-size the table based on content */
  border-collapse: collapse;
  table-layout: auto; /* Ensures columns adjust to content */
  border-radius: 5px;
}

table, th, td {
  border: 1px solid black; 
}

th, td {
  padding: 10px;
  text-align: left;
  white-space: nowrap; /* Prevents wrapping, so the table adjusts based on content */
}

th {
  background-color: #888585;
}

th select {
  background-color: transparent; /* Transparent background */
  border: none; /* No border */
  width: 15px; /* Width of the down arrow */
  padding: 0; 
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

/* Add a custom down arrow */
th select::after {
  content: '▼';  /* Down arrow symbol */
  font-size: 0.9em;
  color: #333;
}

/* Additional styling to hide text within select */
th select option {
  text-align: center;
} 

td {
  width: auto; /* Allow <td> to resize based on its content */
}

input {
  width: auto; /* Input width adapts to its content */
  box-sizing: border-box;
  border: 0px;
  min-width: 100px; /* You can adjust this to set a minimum width */
  padding: 5px;
  background-color: transparent;
}

button {
  color: white;
  border: 0px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.button-delete {
  background-color: #1db0e9
}

.button-add {
  background-color: #003366
}

button:hover {
  transform: scale(1.1)
}

.row-declined {
  background-color: rgb(255, 179, 186);
}

.row-live {
  background-color: rgb(119, 221, 119);
}

.row-application {
  background-color: rgb(255, 191, 102);
}

.row-prospect {
  background-color: rgb(173, 216, 230);
}
